
.popular-playlists{
    text-align: center;
}

.popular-playlists h1{
    margin-bottom: 40px;
}

.playlist-grid{
    display:flex;
    justify-content:center;
    gap:40px;
}
.playlist-grid{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.playlist-card{
    width: 320px;
}

.content{
    padding-top: 150px;
    padding-bottom: 150px;
}