.sign-in-box{
    background-color: white;
    position: relative;
    display: block;
    margin: auto;
    top: 200px;
    height: 300px;
    width: 500px;
    border-radius: 15px;
    input{
        background-color: lightcoral;
        display: block;
        margin: auto;
        width: 250px;
        height: 50px;
    }
}

