@font-face {
    font-family: grunge;
    src: url('FONTS/got-heroin/GotHeroin/Got_Heroin.ttf');
}
@font-face {
    font-family: sanctuary;
    src: url('FONTS/Sanctuary/Sanctuary.ttf');
}

nav{
    background-color: lightblue;
    position: fixed; top: 0; left: 0; right: 0;
    width: 100%;
    height: 100px;
    
    
    h1{
        text-align: center;
        font-family: sanctuary;
    }

    .menu{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-family: sanctuary;

        li{
            a, a:visited{
                text-decoration: none;
                color: black;
            }

            a:hover{
                color:white;
            }
            
        }
    }
}

.header{
    background-color: black;
    height: 500px;
    margin-top: 100px;
    width: 100%;
}