@font-face {
    font-family: grunge;
    src: url('FONTS/got-heroin/GotHeroin/Got_Heroin.ttf');
}
@font-face {
    font-family: sanctuary;
    src: url('FONTS/Sanctuary/Sanctuary.ttf');
}

@font-face {
    font-family: doves;
    src: url('FONTS/two-turtle-doves/doves.ttf');
}

nav{ 
    position: fixed; top: 0; left: 0; right: 0;
    width: 100%;
    height: 100px;
    
    
    h1{
        text-align: center;
        font-family: doves;
        color: white;
    }

    .menu{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-family: doves;

        li{
            font-size: 200%;
            a, a:visited{
                text-decoration: none;
                color: white;
            }

            a:hover{
                color:lightcoral;
            }
        }
    }
}

body{
    background-color: rgb(48, 51, 54);
}

.header{
    height: 500px;
    margin-top: 100px;
    width: 100%;
}