@font-face {
    font-family: grunge;
    src: url('FONTS/got-heroin/GotHeroin/Got_Heroin.ttf');
}
@font-face {
    font-family: sanctuary;
    src: url('FONTS/Sanctuary/Sanctuary.ttf');
}

@font-face {
    font-family: doves;
    src: url('FONTS/two-turtle-doves/doves.ttf');
}
*{
    margin: 0;
    padding: 0;
}

nav{ 
    position: fixed; top: 0; left: 0; right: 0;
    width: 100%;
    height: 100px;
    
    
    #Logo{
        text-align: center;
        font-family: doves;
        color: white;
    }
  

    .menu{
        list-style: none;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-family: doves;

        li{
            font-size: 200%;
            background-color: rgb(35, 36, 38);
            padding: 10px;
            border-radius: 30px;
            a, a:visited{
                text-decoration:none;
                color: white;
            }

            a:hover{
                color:lightcoral;
            }
        }
    }
    z-index: 99999;
}

body{
    background-color: rgb(48, 51, 54);
    color: white;
}



.content{
    font-family: doves;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    height: 700px;
    width: 100%;
    
    transform: translateX();
    transition: transform 1s ease-in-out;

   
    .slide{
      
        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }
    
}

.intro{
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    justify-content: center;

    .blurb{
        flex-basis: 50%;
        text-align: center;
    }

    .featured{
        flex-basis: 50%;
        .cool-albums{
            display: block;
            margin: auto;
            width: 200px;
            
            ul{
                list-style-type: none;
            }
        }

    }
}

.albums-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    justify-content: center;
    .album{
        width: 225px;
        height: 255px;
        margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        align-content: center;
        border: solid rgb(144, 145, 147) 0.15px;
        border-radius: 10px;
        background-color: rgb(62, 62, 65);
        p{
            margin-left: 30px;
            margin-top: 10px;
        }
        img{
            width: 200px;
            height: 200px;
            display: block;
            margin: auto;
            border-radius: 10px;
        }
    }
}

.reviews{
    width: 100vw;
    text-align: center;
    margin-top: 50px;
    .keeper{
        margin-top: 10px;
        margin-bottom: 50px;
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-evenly;
            
            li{
                padding: 10px;
                width: 200px;
                background-color:rgb(62, 62, 65);
                border-radius: 10px;
                border: solid rgb(144, 145, 147) 0.15px;
            }
        }
        
    }
}

footer{
    color: white;
    display: block;
    margin: auto;
    position: relative;
    bottom: 0;
    padding-bottom: 20px;

    .footer{
        text-align: center;
        font-family: doves;
        a, a:visited{
            color: white;
            text-decoration: none;
        }
    }
}


